body{
margin:0;
font-family:Arial;
background:#f4f6f9;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:white;
padding:40px;
width:350px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);
text-align:center;
}

h1{
color:#1f4fd8;
margin-bottom:20px;
}

input{
width:100%;
padding:12px;
margin:10px 0;
border:1px solid #ccc;
border-radius:8px;
font-size:16px;
}

button{
width:100%;
padding:12px;
background:#1f4fd8;
color:white;
border:none;
border-radius:8px;
font-size:16px;
cursor:pointer;
}

button:hover{
background:#1639a6;
}

a{
text-decoration:none;
color:#1f4fd8;
}
.card{

background:#f4f6f9;

padding:15px;

margin-top:10px;

border-radius:10px;

font-size:16px;

font-weight:bold;

box-shadow:0 3px 8px rgba(0,0,0,0.1);

}
.stats{

display:flex;

gap:10px;

margin-top:20px;

}

.statCard{

flex:1;

background:white;

padding:20px;

border-radius:12px;

text-align:center;

box-shadow:0 4px 12px rgba(0,0,0,0.1);

}

.statCard h2{

margin:0;

color:#1f4fd8;

font-size:28px;

}

.statCard p{

margin-top:10px;

color:#555;

}